.navbar{
    background-color: rgba(255, 255, 255, 0.342) !important;
    & .nav-link{
        color: rgb(0, 0, 0) !important;
        position: sticky;
        padding: 0 10px;
    }
    & .nav-link::after{
        content: "";
        position: absolute;
        background-color: tomato;
        height: 1px;
        width: 0;
        right: 0;
        bottom: -4px;
        transition: 0.3s;
    }
    & .nav-link:hover::after{
        width: 90%;
    }
    & .nav-link:hover{
        color: white !important;
    }
    & .nav-link:active{
        color: rgb(41, 2, 77) !important;
    }
    & .collapse{
        justify-content: flex-end;
    }
    & .logoimg{
        height: 100px;
        width: 100px;
    }
    & .logoimg:hover{
        color: white !important;
        background-color: rgba(255, 99, 71, 0.445) ;
        border-radius: 20px;
    }
}












